body {
   margin:0;
   background: deepskyblue url(sea.jpg)no-repeat;
   -webkit-background-size: 100%;
   background-size: 100%;
}
.page-container {
  min-width: 960px;
  max-width: 75%;
  margin: 0 auto;
  padding: 0;
  }
p {
   color: blue;
   padding-left: 20px;
   padding-top: 25px;
   padding-bottom: 0;
   margin-bottom: 0;
   font-size: 100%;
}

input.Name {
    margin-left: 20px;
    margin-top: 5px;
    size: 80px; 
    height: 30px;  
    border: solid 3px #FFFFFF; 
    color: blue;
    background: white;
    font-size: 120%;
    border-radius: 10px;
} 
.Indicator {
    position: absolute;
    margin-left: 280px;
    margin-top: -30px;
    width: 24px;
    height: 24px;
    background: lime;
    border: lime;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.HistoryOfMessages {
    margin-left: -220px;
    margin-top: 60px;
    overflow: scroll;
    scrollbar-arrow-color: blue;
    scrollbar-face-color: aquamarine;
    width: 750px; 
    height: 370px;  
    border: solid 3px blue; 
    color: blue;
    background: white;
} 
input.Message {
    margin-left: -220px;
    margin-top: 40px;
    overflow: auto;
    scrollbar-arrow-color: blue;
    scrollbar-face-color: aquamarine;
    width: 640px; 
    height: 80px; 
    padding: 1px; 
    border: solid 3px blue; 
    color: blue;
    background: white;
    font-size: 120%;
    border-radius: 10px;
} 
input.Edit {
    margin-left: 560px;
    margin-top: -270px;
    color: blue;
    font-family: Algerian, Arial, cursive;
    width: 180px;
    height: 50px;
    border: solid 3px blue;
    bordercolor: blue;
    background: white;
    border-radius: 10px;
    float: left;
    font-size: 120%;
    padding: 1px;
}
input.Button {
    position: absolute;
    padding: 1px;
    margin-left: 460px;
    margin-top: -60px;
    font-family: Algerian, Arial, cursive;
    value= "Отправить";
    color: blue;
    border: solid 3px blue;
    background: white;
    font-size: 120%;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    float: left;
}
.removeButton {
    float: right;
    margin-right: 20px;
    margin-top 10px;
    height: 20px;
    width: 20px;
    background-image: url(http://www.iconsearch.ru/uploads/icons/softwaredemo/16x16/deletered.png);
}
.left-float {
    float: left;
}
.editButton {
    float: right;
    margin-right: 20px;
    margin-top 10px;
    height: 20px;
    width: 20px;
    background-image: url(http://www.iconsearch.ru/uploads/icons/nuove/16x16/pencil.png);
}
.nickName {
    float: left;
    color: blue;
    font-size: 20px;
    font-family: Algerian, Arial, cursive;
    
}
.msg {
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}